*.pyc
*~
*.*~
*.zip
*.egg-info
*.db
*.sqlite3
docs/_build
build/
dist/
tests/
example/demo/cache/
example/demo/media/
example/demo/static/
example/server-static/
inline_media/tests/pictures/
inline_media/tests/cache/
.cache
.emacs.desktop*
.tox
