{% extends "base.html" %}
{% load i18n inlines %}
{% load url from future %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}inline_media/css/inline_media.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}prettyphoto-3.1.3/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/myinlines.css" type="text/css" media="screen" />
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}prettyphoto-3.1.3/js/jquery-1.6.1.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}inline_media/js/inline_media.js"></script>
<script src="{{ STATIC_URL }}prettyphoto-3.1.3/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block header %}{{ block.super }}{% trans "Article Detail" %}{% endblock %}

{% block content %}
<H2 style="text-align:center">{{ object.title }}</H2>
<div class="inline_media_clearfix" style="width:540px; margin:10px auto">
  {{ object.abstract|render_inlines|safe }}
</div>
<div style="font-size:.8em; text-align:center; font-style:italic">Published {{ object.publish }}</div>
<div class="inline_media_clearfix" style="width:640px; margin:10px auto">
  {{ object.body|render_inlines|safe }}
</div>

<a href="{% url 'articles-index' %}">{% trans "back to the articles list" %}</a>
{% endblock %}
 
