.inline_full_left, 
.inline_large_left, 
.inline_medium_left, 
.inline_small_left, 
.inline_mini_left { 
    float: left; 
    padding: 0 20px 10px 0 
}
.inline_full_right, 
.inline_large_right, 
.inline_medium_right, 
.inline_small_right, 
.inline_mini_right { 
    float: right; 
    padding: 0 0 10px 10px 
}

.inline_full_center {
    display: block;
    margin: 10px auto;
}

.inline_large_left, 
.inline_large_right { 
    width: 250px
}
.inline_medium_left, 
.inline_medium_right { 
    width: 200px 
}
.inline_small_left, 
.inline_small_right { 
    width: 150px 
}
.inline_mini_left, 
.inline_mini_right { 
width: 80px 
}

.pictureset1, .pictureset2, .pictureset3 {
    display: block;
    position: relative;
    left: -100px; 
    margin: 0 auto;
    margin-left: 2px;
    margin-right: 2px;
}

.inline_mini_left .pictureset1, 
.inline_mini_right .pictureset1,
.inline_mini_left .pictureset2, 
.inline_mini_right .pictureset2,
.inline_mini_left .pictureset3, 
.inline_mini_right .pictureset3 { 
    height: 78px 
}

.inline_small_left .pictureset1, 
.inline_small_right .pictureset1,
.inline_small_left .pictureset2, 
.inline_small_right .pictureset2,
.inline_small_left .pictureset3, 
.inline_small_right .pictureset3 { 
    height: 158px 
}

.inline_medium_left .pictureset1, 
.inline_medium_right .pictureset1,
.inline_medium_left .pictureset2, 
.inline_medium_right .pictureset2,
.inline_medium_left .pictureset3, 
.inline_medium_right .pictureset3 { 
    height: 208px 
}

.inline_large_left .pictureset1, 
.inline_large_right .pictureset1,
.inline_large_left .pictureset2, 
.inline_large_right .pictureset2,
.inline_large_left .pictureset3, 
.inline_large_right .pictureset3 { 
    height: 258px 
}

.inline_full_center .pictureset1, 
.inline_full_left .pictureset1, 
.inline_full_right .pictureset1, 
.inline_full_center .pictureset2, 
.inline_full_left .pictureset2, 
.inline_full_right .pictureset2, 
.inline_full_center .pictureset3, 
.inline_full_left .pictureset3, 
.inline_full_right .pictureset3 { 
    width: 400px;
    height: 304px;
}

.inline_full_center .pictureset1, 
.inline_full_center .pictureset2, 
.inline_full_center .pictureset3 {
    margin: 0 auto;
}

.pictureset1 img, 
.pictureset2 img, 
.pictureset3 img {
    text-decoration: none;
    position: absolute;
    margin-left: 0px;
    border: 4px solid #FFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 99;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.pictureset1 A IMG.picture, 
.pictureset2 A IMG.picture, 
.pictureset3 A IMG.picture { 
    visibility: hidden 
}

.pictureset2 A:nth-child(1) IMG.picture, 
.pictureset3 A:nth-child(1) IMG.picture { 
    visibility: visible; top:4px; left:100px; z-index: 99 
}
.pictureset1 A:nth-child(1) IMG.picture,
.pictureset3 A:nth-child(2) IMG.picture { 
    visibility: visible; top:6px; left:104px; z-index: 98 
}
.pictureset2 A:nth-child(2) IMG.picture,
.pictureset3 A:nth-child(3) IMG.picture { 
    visibility: visible; top:8px; left:108px; z-index: 97 
}

.pictureset3 .rotate1, 
.pictureset2 .rotate1 {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.pictureset3 .rotate2 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
.pictureset3 .rotate3, 
.pictureset2 .rotate2 {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
}

.inline_credits, 
.inline_description, 
.inline_counter {
    display: block;
    margin: 0;
    padding: 2px 0;
    font-size: 0.8em;
    line-height: 1.1em;
    text-align: center;
}

.inline_counter { font-size: 0.8em }

.inline_author, 
.inline_license {
    display: block;
    line-height: 1em;
    font-size: 0.9em;
}

.inline_clearfix:after {
    content: "."; display: block; height: 0;
    clear: both; visibility: hidden;
}
