{% load i18n thumbnail %}

<div class="inline {{ class }}">
  {% thumbnail object.picture size as im %}
  {% if object.show_as_link %}
  <a href="{{ object.picture.url }}" class="picture" rel="{{ object.sha1 }}" title="{{ object.description }}">
    <img src="{{ im.url }}" alt="{{ object.title }}">
  </a>
  {% else %}
  <img src="{{ im.url }}" alt="{{ object.title }}">
  {% endif %}
  {% endthumbnail %}
  {% if object.show_author or object.show_license %}
  <p class="inline_credits">
    {% if object.show_author %}{% trans "author" %}:&nbsp;{{ object.author }}{% if object.show_license %}&nbsp;-&nbsp;{% endif %}{% endif %}{% if object.show_license %}<a href="{{ object.license }}" target="_new" style="font-size:0.9em">{% trans "license" %}</a>{% endif %}
  </p>
  {% endif %}
  {% if object.description %}
  <p class="inline_description">{{ object.description|safe }}</p>
  {% endif %}
</div>
